name: CI

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  install:
    runs-on: ubuntu-latest
    outputs:
      IMAGE_NAME: ${{ steps.generate-uuid.outputs.IMAGE_NAME }}
    steps:
      - uses: actions/checkout@v4
      - name: Generate UUID
        id: generate-uuid
        run: |
          UUID=$(uuidgen)
          echo "IMAGE_NAME=${UUID}" >> $GITHUB_OUTPUT
          echo "IMAGE_NAME=${UUID}" >> $GITHUB_ENV
      - name: Setup Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: ttl.sh/${{ steps.generate-uuid.outputs.IMAGE_NAME }}:2h
          cache-from: type=gha
          cache-to: type=gha,mode=max

  lint:
    runs-on: ubuntu-latest
    needs: install
    container:
      image: ttl.sh/${{ needs.install.outputs.IMAGE_NAME }}:2h
    steps:
      - run: cd /app && npm run lint

  test:
    runs-on: ubuntu-latest
    needs: install
    container:
      image: ttl.sh/${{ needs.install.outputs.IMAGE_NAME }}:2h
    steps:
      - run: cd /app && npm test
